* {font-size: 100.01%;}
html {font-size: 62.5%;}
body{
	
	margin: 0;
	color: #000;
	font: 1.083em/1.692em Arial, Helvetica, sans-serif;
	background: #939393;
	min-width: 700px;
	
}
img{
	border-style: none;
	height: auto;
	max-width: 100%;
}
	
a{
	text-decoration: none;
	color: #000;
}
a:hover{text-decoration: underline;}
input,
textarea,
select{
	font: 100% arial,sans-serif;
	vertical-align: middle;
	margin: 5px 0;
}
form,fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
header, footer, article, section, hgroup, nav, figure { display: block; }

.clear{
clear:both;
}





.container{
	padding: 0 30px;
	margin: 0 auto;
	max-width: 1200px;
	outline: 1px solid green;
	
}

header{
	margin:0;
	padding:0;
	border-bottom:5px solid #4a4d50;
	background-color: #3A3D40;
}


.logo {
	display:block;
	margin:20px 0;
	width:100px;
	height:50px;
	background: url(../images/logo.png) no-repeat;
	text-indent:-9999px;
	outline: 1px solid #cc0000;
	float:left;
}
.logo a {
	width: 100%;
	height:100%;
	display:block;
	outline: 1px solid #cc0000;
}


#nav{
	float: right;
	margin-top: 30px;
	outline: 1px solid #cc0000;
}

#nav ul {
	list-style: none;
	outline: 1px solid #cc0000;
	margin:0;
}

#nav ul li {
	padding: 5px 20px;
	font-size: 0.6em;
	float: left;
	text-transform: uppercase;
	border-left: #424547 solid 4px;
	border-right: #2D3032 solid 4px;
}

#nav li a {
	color: #D4D4D4;
	}


#main {
	margin:0;
	padding:0;
	background: #FDFDFD;
	outline: 1px solid red;

}
.gallery-holder{
	position:relative;

}

.gallery-holder .prev,
.gallery-holder .next{
	position: absolute;
	top:50%;
	text-indent:-9999px;
	z-index:3;
	width:40px;
	height:40px;
	outline: 1px solid red;
	margin-top: -20px;
}

.gallery-holder .prev{
	left:20px;
	background: url(../images/prev.png) no-repeat;
}

.gallery-holder .next{
	right:20px;
	background: url(../images/next.png) no-repeat;
}

.gallery {
	position: relative;
	overflow:hidden;
	width: 100%;
	height: 450px;
	z-index:1;
}

.gallery ul {
	margin:0;
	padding:0;
	list-style:none;
}
.gallery li{
	position: absolute;
	left:0;
	right:0;
	width: 100%;
	height: 450px;
	
}
.gallery ul li:active{
	z-index:2;
}

.gallery li>img {
	width: 100%;
	height: 450px;
}

.paging{
	padding:0;
	margin:0;
	list-style: none;
	position: absolute;
	bottom: 20px;
	width: 100%;
	left:0;
	text-align:center;
	outline: 1px solid red;
	z-index:3;
	height: 9px;
}

.paging li {
	display: inline-block;
	padding:0 2px;
}

.paging a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	width: 11px;
	height: 9px;
	background: white;
}

.paging a:hover,
.paging .active a{
	background-position:0 -9px;
	background: grey;
} 


.tabset {
	padding:0;
	list-style: none;
	margin: 0 0 -1px;
	text-align: center;
	position: relative;
	outline: 1px solid red;
}

.tabset li {
	display: inline-block;
	border: 1px solid #c5c5c5;
	border-width: 1px 1px 0 0;
	line-height: 32px;
}

.tabset li:first-child{
	border-width: 1px 1px 0;
}

.tabset a {
	display:block;
	padding: 0 19px;
	background:#f8f8f8;
	color:#555;
}

.tabset .active a {
	background: #fff;
	color:#6b99b6;
	padding-bottom: 1px;
}

.tabset a:hover{
	background: #fff;
}

.tab {
	border-top: 1px solid #c5c5c5;
	display:none;
	padding: 30px 0 0;
	overflow: hidden;
}

.tab .active {
	display:block;
}

.tab img{
	float: left;
	margin-right: 30px;
}

.logo-portfolio {
	
}

.latest_portfolio h2,
.our-customers h2,
.latest-blog h2,
.services h2{
	text-align: center;
	margin-top: 50px;
}

.latest_portfolio p,
.our-customers p,
.latest-blog p,
.services p{
	text-align: center;
	font-size:120%;
	padding: 0 20px;
}

.logo-portfolio ul {
	list-style: none;
	padding:0;

}

.logo-portfolio ul li{
	float: left;
	padding:3px;
}

.blog-article{
	margin:5px;
	width: 48%;
	height: 100px;
	outline: 1px solid #cc0000;
	overflow: hidden;
	float: left;
}


.circle {										
	position: relative;
	display: block;
	background: #ECECEC;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	text-align: center;
	float: left;
	margin:0;
	
	outline: 1px solid #cc0000;
	z-index:1;
}

p.data-bloga {
	position: absolute;
	height: 100%;
	width: 15%;
	padding:0;
	margin:0;
	float:left;
}

.add-blog {
	float:right;
	height: 100%;
	width: 81%;
	outline: 1px solid #cc0000;
}

.add-blog h4 {
	margin:0;
	padding: 0 5px;
}

.add-blog p {
	margin:5px 0;
	padding: 0 5px;
	font-size: 100%;
	text-align: left;
}

p.review-magazine {
	font-size: 80%;
	color: #7DA6BF;
}
.logo-customers ul {
	list-style: none;
	padding:0;
	margin:0 7px;
	
}

.logo-customers ul li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5%;
}





#footer-up {
	background:#3A3D40;
	
}

.footer-content {
	float: left;
	width: 22%;
	margin-left: 3%;
	outline: 2px solid red;

}

.footer-content>h5 {
	text-transform: uppercase;
	color: #E3E3E3;

}

.footer-content p {
	color:#E3E3E3;
	line-height: 25px;
}

p.data,
.data {
	color:#7390A3;
}

.footer-content input[type='text'],
.footer-content textarea{
	width: 94%;
	padding: 0 3%;
	background: #2d3032;
	color: #fff;
	border: none;
	line-height: 35px;
	font-size: 16px;
	margin: 0 0 10px;
}

.button {
	display:block;
	width:110px;
	height:30px;
	color:#E3E3E3;
	background:#648295;
	text-align:center;
	line-height:30px;
	border-radius: 5%;
	
}

#footer-down {
	background:#2F3235;
	height:85px;
	margin:0;
}

#copyright{
	display:block;
	width:300px;
	margin-top: 35px;
	outline: 1px solid red;
	float:left;
	color: #E3E3E3;
}

#social {
	float:right;

}

#social ul{
	list-style:none;
	margin-top:25px;
}

#social ul li{
	float:left;
	margin:3px;
}