﻿body{
	position: relative;
	margin: 0 auto;
	color: #000;
	font: 11px Arial, Helvetica, sans-serif;
	background: url(../images/bg.png) no-repeat;
	}
	
img{
	border-style: none;
	display: block;
	margin:0 auto;
}
a{
	text-decoration: none;
	color: #000;
}

a:hover{text-decoration: underline;}

input,
textarea,
select{
	font: 100% arial,sans-serif;
	vertical-align: middle;
}

form,fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}

.clear {
clear:both;	
}

header, footer, article, section, hgroup, nav, figure, aside { display: block; }


#wrapper{
	position: absolute;
	margin-left:200px;
	width: 1055px;
	background: url(../images/color_line.png), #FFFFFF; 
	background-position:right;
	background-repeat: repeat-y;
}
 /*начало шапки*/
header {
	margin:10 auto;
	padding: 0 15px;
}

.logo {
	float: left;

}

#search-form {
	float: left;
	margin-left:100px;
	margin-top: 49px;
	
}

.button{
	color:#FFFFFF;
	background-color:#00AEDB;
}

#social {
	float: right;
	margin-top:7px;
}

#social ul{
	list-style: none;
}

#social li{
	float: left;
	padding:5px;
}
																/*Конецшапки*/

																/*Начало навигатора*/
nav {
	background:#898989;
	margin: 10px 15px;
}

nav ul{
	list-style: none;
	padding:0;
	
}

nav li{
	float: left;
	padding: 5px 15px;
}

nav li a {
	color:#FFFFFF;
	text-transform: uppercase;
	font-size: 135%;
}
																/*Конец навигатора*/
																
																/*Начало блока с контентом*/


 #main {
 padding:0 15px;
 }
 
 
#content {
	width:650px;
	float:left;

}

aside {
	width:350px;
	float:right;
	
}
																/*Начало левого блока контента*/
.section h2 {
	font-size: 270%;
	font-weight: bold;
	margin-bottom:0;
}

.section p{
	margin-top:5px;
	text-align:justify;
	font-size: 130%;
}

.container {
	margin: 0 auto;
	outline: 3px solid #BFBFBF;
	padding-top:10px;
	padding-bottom:3px;
}

.add-container ul{
	padding:0;
	padding-left: 22px;
	list-style: none;
	display: block;
}


.add-container li{
	padding: 0 2px;
	float: left;
}

img[src="images/comment.png"] {
	display: inline;
	border-style: none;
	outline: none;
	margin-left: 40px;
	margin-right: 20px;
}

p.comment, p.comment a {
	margin-left: 10px;
}
															/*Конец левого блока с контентом*/
														

															/*Начало правого блока контента*/
															
.sidebar {


}

.topic-list {
	margin-top: 22px;
}

p.name-topic {
	background:#5261AC;
	text-transform: uppercase;
	font-size: 180%;
	color: #FFFFFF;
	font-weight: bold;
	float: left;
	padding: 6px 20px;
	margin-right:50px;
	margin-top:0;
	margin-bottom:0;
}

.triangle-topright {
	width: 20px;
	height: 0;
	border-bottom: 34px solid #5261AC;
	border-right: 30px solid transparent;
	margin-left:155px;
}
.triangle-topright1 {
	width: 55px;
	height: 0;
	border-bottom: 34px solid #5261AC;
	border-right: 30px solid transparent;
	margin-left:185px;
}

.add-nav {
	background:#00AEDB;
}

.add-nav  ul{
	list-style: none;
	padding:0;
}

.add-nav  li{
	float: left;
	padding: 5px 15px;
}

.add-nav  li a {
	color:#FFFFFF;
	text-transform: uppercase;
	font-size: 135%;
	font-weight: bold;
}

.add-section-sidebar {
	margin-top:10px;
}


img[src="images/imageSideBar1.png"], 
img[src="images/imageSideBar2.png"] {
	float: left;
}

.article-sidebar {
	width: 245px;
	height: 97px;
	float: right;
	overflow: hidden;
	padding: 0 10px;
}

p.name-article {
	color: #00AEDB;
	font-size: 120%;
	font-weight: bold;
}

p.text-article {
	font-size: 110%;
}

.article-sidebar2 {
	width: 245px;
	height: 75px;
	float: right;
	overflow: hidden;
	padding: 0 10px;
}

p.medication {
	color: #00AEDB;
	font-size: 110%;
	font-weight: bold;
}

p.name-topic1 {
	background:#5261AC;
	text-transform: uppercase;
	font-size: 180%;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px 20px;
	margin-top:0;
	margin-bottom:0;
}

.add-section-sidebar li, 
.related-articles-list li {
	font-size: 110%;
	margin-bottom: 10px;
	list-style-image: url(../images/bird.png);
}

 #item-list {
	padding: 10px;
 }
 
 
.red {
	color: red;
 	font-size: 160%;
	font-style: italic;
 }
 
 .bold {
	font-weight: bold;
	font-size: 140%;
	color: blue;
 }
 
 .small {
	font-size: 110%;
	color: blue;
 }
 
 .high {
	font-size: 200%;
	color: #8CC63F;
 }
																	/*Конец правого блока с контентом*/
																	
																	
																	/*Начало подвала*/
 
footer {
	background: url(../images/color_line_down.png), #EBEBEB; 
	background-position: top;
	background-repeat:repeat-x;
	padding-top:5px;
 }
footer h3 {
	margin:0;
	text-align: center;
	padding: 20px 0;
}
																	/*Конец подвала*/
																	
																	
																	/*Начало для описания второй страници*/

#feedback-form label {
	margin:40px;
	margin-right:30px;
	
	
}

form[name="test"]  p {
	text-align: right;
	margin-right: 150px;
	font-size:130%;
	margin-bottom:5px;
	margin-top:5px;
}

#feedback-form .button{
	color:#FFFFFF;
	background-color:#F78F1D;
	padding:5px 10px;
}

img[src="images/empty-image.png"] {
	float: left;
	margin-left: 50px;
}

.last-comment {
	width: 350px;
	float: right;
	padding: 0 10px;
	margin-right: 130px;
}

p.medication {
	text-align: right;
	margin:0px;
}

.last-comment .text-article {
	margin-bottom:0px;
}

#real-comments {
	margin-bottom: 30px;
}

#gallery-holder{
	position: relative;
}

#gallery-holder .prev,
#gallery-holder .next {
	position: absolute;
	bottom: 22%;
	text-indent: -9999px;
	overflow: hidden;
	height: 20px;
	width: 14px;
	margin-top: 20px;
	z-index: 3;
}

#gallery-holder .prev {
	left: -15px;
	background: url(../images/btn-prev.png) no-repeat;
}

#gallery-holder .next {
	right: -15px;
	background: url(../images/btn-next.png) no-repeat;
}

.gallery{
	overflow: hidden;
	position: relative;
	z-index:1;
}

.gallery ul {
	padding:0;
	list-style: none;
	margin: 0 auto;
	width: 9999px;
}

.gallery li {
	float: left;
	width:332px;
	padding: 5px;
	margin:0;
}

.gallery img {

}

p.gallery-nav {
	color:#FFFFFF;
	text-transform: uppercase;
	font-size: 135%;
	margin:0 2px;
	padding: 5px 5px;
}